body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#0539c9ba;  
    font-family: 'Arial';  
}  
.login{  
        width: 318px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: #f5f5f8;  
        border-radius: 10px ;         
}  
h2{  
    text-align: center;  
    color: #eaf1f3;  
    padding: 20px;  
}  
#Email{  
    margin: auto;  
    width: 300px;  
    height: 30px;  
    border:1px solid rgba(128, 128, 128, 0.493);  
    border-radius: 10px;  
    padding-left: 8px;  
}  
#Pass{  
    margin: auto;  
    width: 300px;  
    height: 30px;  
    border:1px solid rgba(128, 128, 128, 0.493);  
    border-radius: 10px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 310px;  
    height: 30px;  
    border: none;  
    border-radius: 10px;  
    padding-left: 8px;  
    color: rgb(235, 245, 239); 
    background-color:#0539c9ba; 
}  
.link{  
    color:white ;
    font-size:12px;
    position: fixed;
    display: block;
    top: 450px;
    left: 400px; 
    min-width: 100px;
    margin: auto;
    padding-left: 10px; 
    padding-right: 100px; 
    background-color:#29304100;    
}  
a:link {
    color: rgba(245, 240, 240, 0.89);
    text-decoration: none;
}

.llink{  
    color:rgba(250, 246, 243, 0.911);
    font-size:12px;
    position: fixed;
    display: block;
    top: 450px;
    right: 400px; 
    min-width: 100px;
    margin: auto;
    padding-left: 100px; 
    padding-right: 10px; 
    background-color:#1f243100; 
}  